# Allow incoming connections to port 1194 for both udp and tcp
allow_port tcp 1194
allow_port udp 1194
# there is nothing special with regard to networking here, openvpn is just a process
# iptables by default in float prevents us from forwarding packets (DROP policy on FORWARD)
# so we need something in the FORWARD table that says "allow packets to / from this vpn"
#
# let vpn hosts reach the internet
add_rule4 -A FORWARD -s {{ openvpn_network | ipaddr('network') }}/{{ openvpn_network | ipaddr('netmask') }} -o {{ ansible_default_ipv4.interface }} -j ACCEPT
# allow re/established *inbound* to vpn hosts
add_rule4 -A FORWARD -d {{ openvpn_network | ipaddr('network') }}/{{ openvpn_network | ipaddr('netmask') }} -m state --state RELATED,ESTABLISHED -j ACCEPT
add_rule6 -A FORWARD -s {{ openvpn_network6 }} -o tun0 -j ACCEPT
# allow re/established *inbound* to vpn gateways
add_rule6 -A FORWARD -d {{ openvpn_network6 }} -m state --state RELATED,ESTABLISHED -j ACCEPT
# deny client-to-client communication
add_rule4 -A FORWARD -i tun0 -o tun0 -j DROP
add_rule6 -A FORWARD -i tun0 -o tun0 -j DROP


