mode server
tls-server
port 1194
ca /etc/leap/ca/leap_ca_bundle.crt
cert /etc/credentials/sspki/openvpn/cert.pem
key /etc/credentials/sspki/openvpn/private.key
dh /etc/leap/keys/dh.pem
cipher AES-256-GCM
tls-version-min 1.2
dev tun
duplicate-cn
keepalive 10 30
mute-replay-warnings
mute 5
push "redirect-gateway def1 ipv6"
push "dhcp-option DNS {{ openvpn_network | ipaddr('1') | ipaddr('address') }}"
{% if openvpn_network6 is defined and openvpn_network6|length %}
proto udp6
server-ipv6 {{ openvpn_network6 }}
push "route-ipv6 2000::/3"
push "dhcp-option DNS {{ openvpn_network6 }}"
{% else %}
proto udp
push "ifconfig-ipv6 fd15:53b6:dead::2/64 fd15:53b6:dead::1"
block-ipv6
{% endif %}
push "block-outside-dns"
server {{ openvpn_network | ipaddr('network') }} {{ openvpn_network | ipaddr('netmask') }}
status /tmp/openvpn-status-udp 10
status-version 3
tcp-nodelay
verify-x509-name "CN=UNLIMITED"
topology subnet
verb 3
