---

backends_dir: /etc/auth-server/backends.d
services_dir: /etc/auth-server/services.d
services: {}

{% if 'user-meta-server' in services %}
user_meta_server:
  url: "https://user-meta-server.{{ domain }}:5505"
  tls:
    cert: "/etc/credentials/x509/auth-server/client/cert.pem"
    key: "/etc/credentials/x509/auth-server/client/private_key.pem"
    ca: "/etc/credentials/x509/auth-server/ca.pem"
  request_max_timeout: "5s"
{% endif %}

rate_limits:
  # Generic per-IP rate limiter.
  ip_ratelimit:
    limit: {{ auth_server_ip_ratelimit.limit }}
    period: {{ auth_server_ip_ratelimit.period }}
    keys: [ip]
    bypass:
      - key: ip
        value: "127.0.0.1"
      - key: ip
        value: "::1"
{% for h in groups['all'] | sort %}
      - key: ip
        value: "{{ hostvars[h]['ip'] }}"
{% endfor %}

  # Per-IP rate limiter specific to account recovery, with stricter limits.
  ip_ratelimit_account_recovery:
    limit: {{ auth_server_account_recovery_ip_ratelimit.limit }}
    period: {{ auth_server_account_recovery_ip_ratelimit.period }}
    keys: [ip]
    bypass:
      - key: ip
        value: "127.0.0.1"
      - key: ip
        value: "::1"
{% for h in groups['all'] | sort %}
      - key: ip
        value: "{{ hostvars[h]['ip'] }}"
{% endfor %}

  # Blacklist users with too many failed account recovery attempts.
  failed_account_recovery_blacklist:
    limit: {{ auth_server_failed_account_recovery_blacklist.limit }}
    period: {{ auth_server_failed_account_recovery_blacklist.period }}
    blacklist_for: {{ auth_server_failed_account_recovery_blacklist.blacklist_for }}
    on_failure: true
    keys: [user]

  # Failed logins, per-user.
  failed_login_blacklist:
    limit: {{ auth_server_failed_login_blacklist.limit }}
    period: {{ auth_server_failed_login_blacklist.period }}
    blacklist_for: {{ auth_server_failed_login_blacklist.blacklist_for }}
    on_failure: true
    keys: [user]

  # Failed logins, per-IP.
  anti_bruteforce_blacklist:
    limit: {{ auth_server_anti_bruteforce_blacklist.limit }}
    period: {{ auth_server_anti_bruteforce_blacklist.period }}
    blacklist_for: {{ auth_server_anti_bruteforce_blacklist.blacklist_for }}
    keys: [ip]
    on_failure: true
    bypass:
      - key: ip
        value: "127.0.0.1"
      - key: ip
        value: "::1"
{% for h in groups['all'] | sort %}
      - key: ip
        value: "{{ hostvars[h]['ip'] }}"
{% endfor %}

{% if 'auth-cache' in services %}
memcache_servers:
  - "auth-cache.{{ domain }}:11212"
{% endif %}
