modules:

  # Healthcheck probe to use on internal targets.
  http_health:
    prober: http
    timeout: 5s
    http:
      valid_status_codes: []
      method: GET
      fail_if_ssl: false
      fail_if_not_ssl: false
      fail_if_not_matches_regexp:
        - "OK"
      preferred_ip_protocol: ip4
      tls_config:
        ca_file: /etc/credentials/x509/prometheus/ca.pem
        cert_file: /etc/credentials/x509/prometheus/client/cert.pem
        key_file: /etc/credentials/x509/prometheus/client/private_key.pem
        insecure_skip_verify: false

  # Base HTTPS probe that will not verify certificates, used
  # only to check that NGINX is up and running.
  http_base:
    prober: http
    timeout: 5s
    http:
      valid_status_codes: [200]
      method: GET
      fail_if_ssl: false
      fail_if_not_ssl: true
      preferred_ip_protocol: ip4
      tls_config:
        insecure_skip_verify: true

  ping:
    prober: icmp
    timeout: 5s
    icmp:
      preferred_ip_protocol: ip4

  dns_toplevel:
    prober: dns
    timeout: 5s
    dns:
      preferred_ip_protocol: ip4
      query_name: "{{ domain_public[0] }}"
      query_type: "A"
      valid_rcodes:
        - "NOERROR"
