{% if apt_sources_list_override is defined %}{{ apt_sources_list_override }}{% else %}
deb http://deb.debian.org/debian {{ float_debian_dist }} main contrib non-free
{% if float_debian_dist in ('stretch', 'buster') %}
deb http://deb.debian.org/debian {{ float_debian_dist }}-backports main
deb http://deb.debian.org/debian {{ float_debian_dist }}-updates main contrib non-free
deb http://security.debian.org/ {{ float_debian_dist }}/updates main contrib non-free
{% else %}
deb http://security.debian.org/debian-security {{ float_debian_dist }}-security main contrib non-free
{% endif %}
{% endif %}
