[Unit]
Description={{ item.service }}/{{ item.container.name }}
{% if container_runtime == 'docker' %}
After=docker.service
Requires=docker.service
{% endif %}

[Service]
ExecStart=/usr/lib/float/docker/run-{{ item.service }}-{{ item.container.name }}.sh
ExecStop=/usr/bin/{{ container_runtime }} stop --time 20 {{ item.service }}-{{ item.container.name }}
ExecStopPost=-/usr/bin/{{ container_runtime }} kill {{ item.service }}-{{ item.container.name }}
TimeoutStopSec=60
KillMode=none
Restart=always
RestartSec=3s
Type=simple
SyslogIdentifier={{ item.service }}-{{ item.container.name }}

{% if item.container.resources is defined %}
{% if item.container.resources.ram is defined %}
MemoryMax={{ item.container.resources.ram }}
{% if float_debian_dist == 'buster' %}
ExecStartPost=+/bin/sh -c "echo 0 > /sys/fs/cgroup/memory/system.slice/%n/memory.swappiness"
{% else %}
MemorySwapMax=0
{% endif %}
{% endif %}
{% if item.container.resources.cpu is defined %}
CPUQuota={{ 100 * item.container.resources.cpu }}%
{% endif %}
{% endif %}
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target {{ 'docker.service' if container_runtime == 'docker' else '' }}
Alias={{ item.service }}-{{ item.container.name }}
